# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# Logs y bases locales
# ---------------------------
*.log
*.sqlite3
*.db

# ---------------------------
# Entornos virtuales
# ---------------------------
venv/
pyvenv.cfg
.env
**/.venv-mac/

# ---------------------------
# Outputs de modelos (MUY IMPORTANTE)
# ---------------------------
data_output/
core/static/dashboard/*.png

# CSV generados por modelos
*.csv

# ---------------------------
# Otros
# ---------------------------
.DS_Store
