{% load static %}
<div class="col-lg-3 mb-4">
    <div class="card-main shadow-lg border-0 rounded-4 overflow-hidden sticky-top" style="top: 2rem; z-index: 1;">
        <div class="list-group list-group-flush">
            
            <a href="{% url 'configuracion' user.id %}" class="list-group-item list-group-item-action active p-3 border-0 d-flex align-items-center">
                <i class="bi bi-person-fill fs-5 me-3"></i>
                <span class="fw-semibold">Mi Perfil</span>
            </a>
         <a href="{% url 'alertas' user.id %}" class="list-group-item list-group-item-action p-3 border-0 d-flex align-items-center text-secondary">
                <i class="bi bi-bell-fill fs-5 me-3"></i>
                <span class="fw-semibold">Alertas</span>
            </a>
         <a href="#" class="list-group-item list-group-item-action p-3 border-0 d-flex align-items-center text-secondary">
                <i class="bi bi-shield-lock-fill fs-5 me-3"></i>
                <span class="fw-semibold">Seguridad</span>
            </a>
         <div class="p-2 bg-light mt-2"></div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="list-group-item list-group-item-action p-3 border-0 d-flex align-items-center text-danger bg-transparent w-100">
                    <i class="bi bi-box-arrow-right fs-5 me-3"></i>
                    <span class="fw-semibold">Cerrar Sesión</span>
                </button>
            </form>
        </div>
    </div>
</div>